dev/*

.ipynb_checkpoints/Optimization Markowitz Model-checkpoint.ipynb

.ipynb_checkpoints/*

optimization/.ipynb_checkpoints/*
optimization/returns/.ipynb_checkpoints/*

optimization/.DS_Store
.DS_Store
